@import url(style.css);

.container-form{
    border-radius: 15px;
    margin: 5rem auto 0 auto;
    width: 80%;
}
.contact-img{
    width: 150%;
    padding-top: 3rem;
}
.input{
    padding: 0.5rem;
}
.form-box{
    background-color: #ff862f;
    border-radius: 15px;
}
