@import url(style.css);


.about-container{
    background: url(../images/aboutmainimg.jpg);
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: top center;
    perspective: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.parallax{
    transform: translateZ(-10px) ;
}


.about-container h1{
    color: rgb(0, 0, 0) ;
    font-size: 5em;
    font-weight: 800;
    z-index: 1;
    position: relative;
    bottom: 1em;
}

.color-overlay{
    background: linear-gradient(to top, #ff862f 30%, #fbbe28 60%);
    width: 100%;
    height: 75vh;
    opacity: .7;
    position: absolute;
}

/* 2nd Section */

.details{
    position: relative;
    bottom: 10%;
}


.boxdesign{
    border: 2px solid #ff862f;
    border-radius: 10px;
    padding: 1em;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.hands{
    width: 120%;
}
