/* Main */
.user_card{
    width: 90%;
    height: 90vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 25px;
}
.user_card_body{
    width: 100%;
    height: 100%;
    display:flex
}
.left-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right-container{
    width: 100%;
    height: 100%;
    background-color: #ff862f;
    border-radius: 25px;
    display: flex;
    align-content: center;
    flex-direction: column;
}
#addPetBtn{
    width: 8vw;
}
.left-container-header{
    margin-top: 3vh;
}
.right-container-header{
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
.circle{
    margin-top: 4vh;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
.profile-image{
    width: 100%;
    height: 100%;
    background-image: url('images/defaultPFP.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.rectangle{
    width: 80%;
    height: 10%;
    background-color: grey;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nameRetrieved{
    color: white;
    margin-left: 1vw;
}
.emailRetrieved{
    color: white;
    margin-left: 1vw;
}
.locationRetrieved{
    color: white;
    margin-left: 1vw;
}
.pet_card{
    width: 30%;
    display: inline-block;
}